<section class="btn-flex">
  <button type="button" class="btn btn-shop">Shop now</button>
  <button type="button" class="btn btn-big btn-big-prime">
    Start shopping
  </button>
  <button type="button" class="btn btn-big btn-big-prime">Buy it now</button>
  <button type="button" class="btn btn-big btn-secondary">ADD TO CART</button>
  <button type="button" class="btn btn-big btn-secondary-light">SEND</button>
  <button type="button" class="btn btn-view-all">View all</button>

  <ul>
    <li>
      <button type="button" class="btn btn-secondary btn-accessories">
        All
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-secondary btn-accessories">
        Headsets
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-secondary btn-accessories">
        Keyboards
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-secondary btn-accessories">
        Mouses
      </button>
    </li>
  </ul>
</section>
