<section class="accessories">
  <div class="container">
    <div class="container-accessories-btn">
      <ul class="accessories-btn-list">
        <li>
          <button type="button" class="btn-secondary btn-accessories">
            All
          </button>
        </li>
        <li>
          <button type="button" class="btn-secondary btn-accessories">
            Headsets
          </button>
        </li>
        <li>
          <button type="button" class="btn-secondary btn-accessories">
            Keyboards
          </button>
        </li>
        <li>
          <button type="button" class="btn-secondary btn-accessories">
            Mouses
          </button>
        </li>
      </ul>
    </div>

    <div class="accessories-wrap">
      <h1 class="accessories-title">All accessories</h1>

      <ul class="accessories-card">
        <li class="accessories-box">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-55.14-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-55.14-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-55.14-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-55.14-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-55.14-mobile-1x.jpg 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-55.14-mobile-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                src="./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-55.14-mobile-1x.jpg"
                alt="навушники"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">Xiberia K9 PRO PC Headset</h3>
              <div class="accessories-price">
                <p class="accessories-price__old">65.14 USD</p>
                <p class="accessories-price__new">55.14 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-mobil-1x.jpg 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-mobil-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                src="./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-1x.jpg"
                alt="навушники"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">Xiberia K9 PRO PC Headset</h3>
              <div class="accessories-price">
                <p class="accessories-price__old">156.00 USD</p>
                <p class="accessories-price__new">116.00 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/Steampunk-Anti-Ghosting-Mechanical-Keyboard-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/Steampunk-Anti-Ghosting-Mechanical-Keyboard-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Steampunk-Anti-Ghosting-Mechanical-Keyboard-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/Steampunk-Anti-Ghosting-Mechanical-Keyboard-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Steampunk-Anti-Ghosting-Mechanical-Keyboard-mobil-1x.jpg 1x,
                  ./images/accessories-photo/mobil/Steampunk-Anti-Ghosting-Mechanical-Keyboard-mobil-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                src="./images//accessories-photo//desktop/Steampunk-Anti-Ghosting-Mechanical-Keyboard-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                Steampunk Anti-Ghosting Mechanical Keyboard
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">82.40 USD</p>
                <p class="accessories-price__new">62.40 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/AULA-SI9006-Gaming-Mouse-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/AULA-SI9006-Gaming-Mouse-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/AULA-SI9006-Gaming-Mouse-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/AULA-SI9006-Gaming-Mouse-tablet-1x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/AULA-SI9006-Gaming-Mouse-mobile-1x.jpg 1x,
                  ./images/accessories-photo/mobil/AULA-SI9006-Gaming-Mouse-mobile-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                src="./images/accessories-photo/desktop/AULA-SI9006-Gaming-Mouse-desktop-1x.jpg"
                alt="компютерна мишка"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">AULA SI9006 Gaming Mouse</h3>
              <div class="accessories-price">
                <p class="accessories-price__old">89.13 USD</p>
                <p class="accessories-price__new">64.13 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/Malloom-1200-DPI-2.4Ghz-Wireles-Mouse-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/Malloom-1200-DPI-2.4Ghz-Wireles-Mouse-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Malloom-1200-DPI-2.4Ghz-Wireless-Mouse-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/Malloom-1200-DPI-2.4Ghz-Wireless-Mouse-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Malloom-1200-DP-2.4Ghz-Wireless-Mouse-mobile-1x.jpg 1x,
                  ./images/accessories-photo/mobil/Malloom-1200-DP-2.4Ghz-Wireless-Mouse-mobile-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                src="./images/accessories-photo/desktop/Malloom-1200-DPI-2.4Ghz-Wireles-Mouse-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                Malloom 1200 DPI 2.4Ghz Wireless Mouse
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">44.24 USD</p>
                <p class="accessories-price__new">29.93 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/DARSHION-3200-DPI-MZ-17-Gaming-Mouse-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/DARSHION-3200-DPI-MZ-17-Gaming-Mouse-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/DARSHION-3200-DPI-MZ-17-Gaming-Mouse-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/DARSHION-3200-DPI-MZ-17-Gaming-Mouse-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/DARSHION-3200-DPI-MZ-17-Gaming-Mouse-mobile-1x.jpg 1x,
                  ./images/accessories-photo/mobil/DARSHION-3200-DPI-MZ-17-Gaming-Mouse-mobile-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                src="./images/accessories-photo/desktop/DARSHION-3200-DPI-MZ-17-Gaming-Mouse-desktop-1x.jpg"
                alt="компютерна мишка"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                DARSHION 3200 DPI MZ-17 Gaming Mouse
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">48.00 USD</p>
                <p class="accessories-price__new">32.00 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box mobile-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/G95-Light-Surround-Gaming-Headset-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/G95-Light-Surround-Gaming-Headset-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/G95-Light-Surround-Gaming-Headset-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/G95-Light-Surround-Gaming-Headset-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/accessories-photo/desktop/G95-Light-Surround-Gaming-Headset-desktop-1x.jpg"
                alt="компютерна мишка"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                G95 Light Surround Gaming Headset
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">72.78 USD</p>
                <p class="accessories-price__new">51.78 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box mobile-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/RGB-LED-Backlit-Mechanical-Keyboard-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/RGB-LED-Backlit-Mechanical-Keyboard-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/RGB-LED-Backlit-Mechanical-Keyboard-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/RGB-LED-Backlit-Mechanical-Keyboard-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/accessories-photo/desktop/RGB-LED-Backlit-Mechanical-Keyboard-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                RGB LED Backlit Mechanical Keyboard
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">156.00 USD</p>
                <p class="accessories-price__new">116.00 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box mobile-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/Wired-Gaming-Headphones-For-PS4-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/Wired-Gaming-Headphones-For-PS4-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Wired-Gaming-Headphones-For-PS4-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/Wired-Gaming-Headphones-For-PS4-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/accessories-photo/desktop/Wired-Gaming-Headphones-For-PS4-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">Wired Gaming Headphones For PS4</h3>
              <div class="accessories-price">
                <p class="accessories-price__old">72.65 USD</p>
                <p class="accessories-price__new">47.55 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box mobile-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/HXSJ-A903-3200-DPI-USB-Wired-Gaming-Mouse-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/HXSJ-A903-3200-DPI-USB-Wired-Gaming-Mouse-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/HXSJ-A903-3200-DPI-USB-Wired-Gaming-Mouse-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/HXSJ-A903-3200-DPI-USB-Wired-Gaming-Mouse-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/accessories-photo/desktop/HXSJ-A903-3200-DPI-USB-Wired-Gaming-Mouse-desktop-1x.jpg"
                alt="компютерна мишка"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                HXSJ A903 3200 DPI USB Wired Gaming Mouse
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">50.49 USD</p>
                <p class="accessories-price__new">32.49 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box mobile-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./imges/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/Steampunk-Anti-Ghosting-Mechanical-Keyboard-110-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/Steampunk-Anti-Ghosting-Mechanical-Keyboard-110-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Steampunk-Anti-Ghosting-Mechanical-Keyboard-110-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/Steampunk-Anti-Ghosting-Mechanical-Keyboard-110-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/accessories-photo/desktop/Steampunk-Anti-Ghosting-Mechanical-Keyboard-110-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                Steampunk Anti-Ghosting Mechanical Keyboard
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">160.00 USD</p>
                <p class="accessories-price__new">110.00 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box mobile-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/K569-RGB-LED-Backlit-Mechanical-Keyboard-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/K569-RGB-LED-Backlit-Mechanical-Keyboard-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/K569-RGB-LED-Backlit-Mechanical-Keyboard-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/K569-RGB-LED-Backlit-Mechanical-Keyboard-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/accessories-photo/desktop/K569-RGB-LED-Backlit-Mechanical-Keyboard-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                K569 RGB LED Backlit Mechanical Keyboard
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">156.98 USD</p>
                <p class="accessories-price__new">112.16 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box tablet-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/HAVIT-USB-3.5mm-Gaming-Headset-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/HAVIT-USB-3.5mm-Gaming-Headset-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/accessories-photo/desktop/HAVIT-USB-3.5mm-Gaming-Headset-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">HAVIT USB 3.5mm Gaming Headset</h3>
              <div class="accessories-price">
                <p class="accessories-price__old">65.14</p>
                <p class="accessories-price__new">53.98 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box tablet-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/Somic-G936N-PS4-Gaming-Headset-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/Somic-G936N-PS4-Gaming-Headset-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/accessories-photo/desktop/Somic-G936N-PS4-Gaming-Headset-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">Somic G936N PS4 Gaming Headset</h3>
              <div class="accessories-price">
                <p class="accessories-price__old">102.00 USD</p>
                <p class="accessories-price__new">66.78 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box tablet-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/G95-Light-Surround-Gaming-Headset-50.98-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/G95-Light-Surround-Gaming-Headset-50.98-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/accessories-photo/desktop/G95-Light-Surround-Gaming-Headset-50.98-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">
                G95 Light Surround Gaming Headset
              </h3>
              <div class="accessories-price">
                <p class="accessories-price__old">78.98 USD</p>
                <p class="accessories-price__new">50.98 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li class="accessories-box tablet-none">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <!-- <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./images/accessories-photo/desktop/YMDK-Double-Shot-104-Keyboard-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/YMDK-Double-Shot-104-Keyboard-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/accessories-photo/desktop/YMDK-Double-Shot-104-Keyboard-desktop-1x.jpg"
                alt="клавіатура"
              />
              <div class="accessories-thumb">
                <p class="accessories-item">
                  100% Brand new and high quality! <br />
                  <br />
                  Ergonomic in design makes it more adjustable to use. <br />
                  <br />
                  More fashionable for your daily use, such as playing games.
                  <br />
                  <br />
                  Built-in high sensitivity and noise reduction microphone.
                  <br />
                  <br />
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
            </picture>

            <div class="accessories-wrapper">
              <h3 class="accessories-name">YMDK Double Shot 104 Keyboard</h3>
              <div class="accessories-price">
                <p class="accessories-price__old">71.77 USD</p>
                <p class="accessories-price__new">46.77 USD</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
