<section class="accessories">
  <div class="container">
    <div class="container-accessories-btn">
      <ul class="accessories-btn-list">
        <li>
          <button type="button" class="btn-secondary btn-accessories">
            All
          </button>
        </li>
        <li>
          <button type="button" class="btn-secondary btn-accessories">
            Headsets
          </button>
        </li>
        <li>
          <button type="button" class="btn-secondary btn-accessories">
            Keyboards
          </button>
        </li>
        <li>
          <button type="button" class="btn-secondary btn-accessories">
            Mouses
          </button>
        </li>
      </ul>
    </div>

    <div>
      <h1 class="accessories-title">All accessories</h1>
      <ul class="accessories-card">
        <li class="accessories-box">
          <a
            class="accessories-link"
            href="#"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <picture class="accessories-icon">
              <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-1x.webp 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-webp-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-1x.webp 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-webp-tablet-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-1x.webp 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-webp-mobil-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-1x.jpg 1x,
                  ./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-tablet-1x.jpg 1x,
                  ./images/accessories-photo/tablet/Xiberia-K9-PRO-PC-Headset-tablet-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-mobil-1x.jpg 1x,
                  ./images/accessories-photo/mobil/Xiberia-K9-PRO-PC-Headset-mobil-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                src="./images/accessories-photo/desktop/Xiberia-K9-PRO-PC-Headset-desktop-1x.jpg"
                alt="навушники"
              />
            </picture>
            <div class="accessories-thumb">
              <p class="accessories-item">
                100% Brand new and high quality! Ergonomic in design makes it
                more adjustable to use. More fashionable for your daily use,
                such as playing games. Built-in high sensitivity and noise
                reduction microphone. It is not easy to break or deform, and
                wear comfortable, no pressure.
              </p>
            </div>
            <div>
              <h3>Xiberia K9 PRO PC Headset</h3>
              <div class="accessories-price">
                <p class="accessories-price__old">156.00 USD</p>
                <p class="accessories-price__new">116.00 USD</p>
              </div>
            </div>
          </a>
        </li>

        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</section>
