<!-- Klimenko Tetyana -->
<!-- footer -->
<footer class="footer-aside">
    <a class="footer__logo link" href="#" lang="en">SHOP FOR GAMERS</a>
  
    <nav class="footer-menue">
    
        <ul class="footer-menue__list list">
          <li class="footer-menue__item">
            <a class="footer-menue__link link" href="#" lang="en">
                Accessories
            </a>
          </li>
          <li class="footer-menue__item">
            <a class="footer-menue__link link" href="#" lang="en">
                Take order
            </a>
          </li>
          <li class="footer-menue__item">
            <a class="footer-menue__link link" href="#" lang="en">
                Contact
            </a>
            </li>
          <li class="footer-menue__item">
            <a class="footer-menue__link link" href="#" lang="en">
                Blog
            </a>
          </li>
        </ul>
    </nav>
  
    <div class="social">
        <ul class="social__list list">
          <li class="social__item">
            <a class="social__link" href="#" lang="en">
              <svg class="social_icon" width="24" height="24">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" lang="en">
              <svg class="social__icon" width="24" height="24">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" lang="en">
              <svg class="social__icon" width="24" height="24">
                <use href="#"></use>
              </svg>
            </a>
          </li>
        </ul>
        </div>
    <div>
      <ul class="footer-list list">
        <li class="footer-link">
            <p class="footer__text">Email</p>
          <a class="footer-mail link" href="mailto:sfg.info@gmail.com">
            sfg.info@gmail.com
          </a>
        </li>
        <li class="footer-link">
            <p class="footer__text">Phone number</p>
          <ul class="footer-list__tel list">
               <li class="footer-link__tel"> 
                 <a class="footer-tel link" href="tel:+380936432288">
                 +38 (093) 643 22 88
                 </a>
               </li>
               <li class="footer-link__tel">
                 <a class="footer-tel link" href="tel:+380503454423">
                 +38 (050) 345 44 23
                 </a>
               </li>
           </ul>
        </li>
      </ul>
    </div>
  </footer>