<header class="header">
    <div class="container header__container">
        <a class="header-logo" href="./index.html">Shop for gamers</a>
        <nav class="header-navigation">
            <ul class="header-navigation__list">
                <li class="header-navigation__item"><a class="header-navigation__link"
                        href="./partials/feacher-accessories.html">Accessories</a></li>
                <li class="header-navigation__item"><a class="header-navigation__link"
                        href="./partials/feacher-contact.html">Contact</a></li>
                <li class="header-navigation__item"><a class="header-navigation__link"
                        href="./partials/feacher-blog.html">Blog</a></li>
            </ul>
        </nav>
        <button class="menu-open-btn is-hidden-btn" data-menu-close>
            <svg class="menu-close-btn__icon" width="54" height="36">
                <use href="./images/symbol-defs.svg#icon-eva_menu-outline"></use>
            </svg>
        </button>
        <button type="button" class="menu-close-btn" data-menu-open>
            <svg class="menu-open-btn__icon" width="36" height="36">
                <use href="./images/symbol-defs.svg#icon-akar-icons_cross"></use>
            </svg>
        </button>
        <a class="btn-shop" href="./partials/feacher-accessories.html">Shop now</a>
    </div>
</header>