<section class="sale">
  <div class="container">
    <ul class="sale-list">
      <li class="sale-item">
        <img src="./images/main-sale-photo/frontend-developer.jpg" alt="" />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <img src="./images/main-sale-photo/frontend-developer.jpg" alt="" />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <img src="./images/main-sale-photo/frontend-developer.jpg" alt="" />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <img src="./images/main-sale-photo/frontend-developer.jpg" alt="" />
        <div class="sale-item__box">
          <div class="">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item mobile__none">
        <img src="./images/main-sale-photo/frontend-developer.jpg" alt="" />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item mobile__none">
        <img src="./images/main-sale-photo/frontend-developer.jpg" alt="" />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item mobile__none">
        <img src="./images/main-sale-photo/frontend-developer.jpg" alt="" />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item mobile__none">
        <img src="./images/main-sale-photo/frontend-developer.jpg" alt="" />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
